*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #7AAB99;
  height: 100vh;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  
  
  .form{
   
    width: 100%;
    max-width:550px ;
    padding: 3em;
    border: 1px white;
    border-radius: 15px;
   margin: 3rem auto ;
  }
 
  label{
    font-size:x-large;
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0.7rem auto 0.5rem ;

  }
  input:not([type="radio"]),select{
  outline: none;
  width: 100%;
  padding: 0.5em 1em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #a68a91;

  max-width: 500px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  }
  input:focus ,select:focus{
    border-color: #a68a91;
  }
  #submit{
    font-size: 15px;
    background-color:white;
    color:  #7AAB99;
    padding: 1em 4em;
    border-radius: 15px;
    border: none;
    display: block;
    margin: 1rem auto;
  }
  /* .radio-container{
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  
  }
  .radio-container label{
    font-size: larger;
    margin-right:0.5rem ;
    margin-left: 0.3rem;
  } */
  

 